@use "../../assets/scss/mixins" as *;
.testimonials {
  &__container {
    @include mq(xl, "max") {
      width: 60%;
    }
  }
  .client {
    background-color: var(--clr-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    height: fit-content;
    &__avatar {
      width: 4rem;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto 1rem;
      border: 0.4rem solid var(--clr-primary-variant);
    }
    &__review {
      display: block;
      font-style: 300;
      width: 80%;
      margin: 0.8rem auto 0;
      color: var(--clr-light);
      @include mq(sm, "max") {
        width: var(--container-w-sm);
      }
    }
  }
}
