nav {
  background-color: rgba(black, 0.2);
  z-index: 2;
  max-width: max-content;
  margin: auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(16px);
  height: fit-content;
  padding: 0.7rem 1rem;
  left: 50%;
  transform: translateX(-50%);
  &.bottom {
    transform: translateX(-50%);
  }
  &.bottom {
    bottom: 0;
  }

  &.left,
  &.right {
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);

    a {
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
      &::after {
        left: -8px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.left {
    left: 0;
    a {
      &::before {
        left: 150%;
      }
      &::after {
        left: -8px;
      }
    }
  }

  a {
    background-color: transparent;
    padding: 0.9rem;
    display: flex;
    color: var(--clr-light);
    font-size: 1.1rem;
    border-radius: 50%;
    position: relative;
    &::before {
      content: attr(data-name);
      font-size: 10px;
      position: absolute;
      top: -100%;
      border-radius: 5px;
      background-color: var(--clr-bg-variant);
      padding: 4px 1rem;
      left: 50%;
      transition: var(--transition);
      transform: translateX(-50%);
      pointer-events: none;
      opacity: 0;
      color: var(--clr-primary);
    }
    &::after {
      position: absolute;
      height: 2px;
      width: 2px;
      border-radius: 50%;
      background-color: var(--clr-white);
      bottom: -5px;
      transform: translateX(-50%);
      left: 50%;
    }
    &:hover {
      background-color: rgba(black, 0.2);
      &::before {
        opacity: 1;
      }
    }
    &.active {
      background: var(--clr-bg);
      color: var(--clr-white);
      &::after {
        content: "";
      }
    }
  }
}
